.DS_Store
frontend/vue-image-gallery/node_modules/
frontend/vue-image-gallery/dist/


# local env files
frontend/vue-image-gallery/.env.local
frontend/vue-image-gallery/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
